@model Football_Club_info__1273288_.ViewModels.ClubEditModel
@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <div class="col-12">
        <div id="spinner" style="display:none">
            <div class="d-flex align-items-center">
                <strong>Loading...</strong>
                <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
            </div>
        </div>
        <div class="alert alert-warning alert-dismissible fade show px-2 mt-2" role="alert" id="successAlert" style="display:none">
            <strong>Success!</strong> Data saved successfully.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        @using (Ajax.BeginForm("Edit", "Clubs", new { }, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "form-div",
            OnSuccess = "onSuccess",
            OnFailure = "onFailure",
            LoadingElementId = "spinner"
        },
            new { id = "frm", enctype = "multipart/form-data" }))
        {
            <div id="form-div">
                @Html.Partial("_EditPartial", Model)
            </div>

        }
    </div>
</div>
@section styles
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="~/Content/bootstrap-datepicker.standalone.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script>
        $(document).on("change", "#ClubLogo", function () {
            console.log(this);
            var file = this.files[0];
            $("#preview").attr("src", URL.createObjectURL(file));
        });

        function onSuccess() {
            console.log($("#server-task").val());
            if ($("#server-task").val() == "update") {
                $("#successAlert").show();
                $("input[type=text]").val('');
            }
        }

        $(() => {
             $("#back").click(function () {
                var indexURL = "@Url.Action("Index", "Clubs")";
                window.location.href = indexURL;
            });
        });
        $(".date").datepicker({
            format: 'yyyy-mm-dd'
        });
        $(".date").val(formatDate($(".date").val()));
        function formatDate(dt) {
            //console.log(dt);
            var d = new Date(dt);
            //console.log(d);
            return [
                d.getFullYear(),
                (d.getMonth() + 1).toString().padStart(2, '0'),
                d.getDate().toString().padStart(2, '0')
            ].join('-');
        }
    </script>
}


